# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SD66-bansach\webbansach-be-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
